
<blockquote class="twitter-tweet">
<p lang="ru" dir="ltr">Обратил внимание на опубликованный 3 декабря Еврокомиссией программный документ под названием «Европейский план действий по демократии»
 <a href="https://t.co/h6vCB6o6Su">https://t.co/h6vCB6o6Su</a>
 </p>&mdash; Дмитрий Медведев (@MedvedevRussia) <a href="https://twitter.com/MedvedevRussia/status/1334893922561236992?ref_src=twsrc%5Etfw">December 4, 2020</a></blockquote> 
 <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

